<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block title %}Newspaper App{% endblock title %}</title>
  <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <header class="p-3 mb-3 border-bottom">
    <div class="d-flex flex-wrap align-items-center justify-content-center
        justify-content-lg-start">
      <a class="navbar-brand" href="{% url 'home' %}">Newspaper</a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center
          mb-md-0">
        {% if user.is_authenticated %}
        <li><a href="{%url 'article_create'%}" class="nav-link px-2 link-dark">+ New</a></li>
      </ul>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{ user.username }}
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="{% url 'password_change' %}">
              Change password</a></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
        </ul>
      </div>
      {% else %}
      </ul>
      <div class="text-end">
        <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">
          Log In</a>
        <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
      </div>
      {% endif %}
    </div>
    </div>
  </header>
  <main>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>
  </main>

  <!-- Bootstrap JavaScript Bundle -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

</html>